<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/admin-page-styles.css">
  <title>Online Store Administrator</title>
</head>
<body>

<main>
  <h1>Admin Page</h1>

  <section id="orders">
    <h2>Manage Categories</h2>
    <ul>
      <!-- List of orders -->
      <button class="viewOrderButton">Add new</button>
      <li>Category 1 <button class="viewOrderButton">Delete</button></li>
      <!-- ... more orders -->
    </ul>
  </section>

  <section id="users">
    <div>
      <h2>Manage Users</h2>

      <form action="/" method="get" class="search-form">
        <input type="text" id="search" name="title" placeholder="Search user by name">
        <input type="submit" value="Search" class="search-button">
      </form>      <div class="user-list">

        <table>
          <thead>
          <tr>
            <th>User ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Status</th>
            <th>Roles</th>
          </tr>
          </thead>
          <tbody>
          <!-- Use Thymeleaf each loop to populate the table with data -->
          <tr th:each="user : ${users}">
            <td th:text="${user.id}">1</td>
            <td th:text="${user.fullName}">John Doe</td>
            <td th:text="${user.email}">johndoe@example.com</td>
            <td th:text="${user.enabled}">Active</td>
            <td th:text="${user.roles}">ROLE_USER</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </section>

  <section id="employees">
    <h2>Manage Employees</h2>
    <ul>
      <!-- List of employees -->
      <li>Employee 1
        <select class="roleSelect">
          <option value="admin">Admin</option>
          <option value="employee">Employee</option>
        </select>
        <button class="updateRoleButton">Update Role</button>
        <button class="releaseEmployeeButton">Release</button>
      </li>
      <li>Employee 2
        <select class="roleSelect">
          <option value="admin">Admin</option>
          <option value="employee">Employee</option>
        </select>
        <button class="updateRoleButton">Update Role</button>
        <button class="releaseEmployeeButton">Release</button>
      </li>
      <!-- ... more employees -->
    </ul>
  </section>

  <section id="analytics">
    <h2>View Analytics</h2>
    <!-- Display store performance data, sales trends, etc. -->
  </section>

  <section id="settings">
    <h2>Store Settings</h2>
    <!-- Configure store settings, payment options, etc. -->
  </section>
</main>


</body>
</html>
